<section class="section faq-section">
  <div class="container faq-container">
    <h2 class="faq-title" id="faq"><span class="faq-span">F</span>AQ</h2>

    <div class="accordion">
      <div class="accordion-item" data-accordion-item>
        <button class="accordion-header" data-accordion-toggle>
          Is the game free to play?
          <svg width="24" height="24" class="icon-accordeon"><use href="/img/sprite.svg#icon-faq"></use></svg>
        </button>
        <div class="accordion-content" data-accordion-content>
          Yes! You can play for free, with optional in-app purchases for faster progress.
        </div>
      </div>

      <div class="accordion-item" data-accordion-item>
        <button class="accordion-header" data-accordion-toggle>
          Can I play offline?
          <svg width="24" height="24" class="icon-accordeon-second"><use href="/img/sprite.svg#icon-faq"></use></svg>
        </button>
        <div class="accordion-content" data-accordion-content>
          Yes, the game can be played offline with limited features.
        </div>
      </div>

      <div class="accordion-item" data-accordion-item>
        <button class="accordion-header" data-accordion-toggle>
          How do I unlock more towers and heroes?
          <svg width="24" height="24" class="icon-accordeon"><use href="/img/sprite.svg#icon-faq"></use></svg>
        </button>
        <div class="accordion-content" data-accordion-content>
          Earn rewards through battle or quests to unlock new heroes and tower types.
        </div>
      </div>

      <div class="accordion-item" data-accordion-item>
        <button class="accordion-header" data-accordion-toggle>
          Is this a classic or idle tower defense?
          <svg width="24" height="24" class="icon-accordeon"><use href="/img/sprite.svg#icon-faq"></use></svg>
        </button>
        <div class="accordion-content" data-accordion-content>
          It’s a perfect hybrid! The game plays on its own, but you control upgrades, strategy, and hero deployment.
        </div>
      </div>
    </div>
  </div>
</section>
