<footer class="footer">
  <div class="container footer-container">
    <h1 class="footer-title">Heroes of <span class="footer-span">T</span>ower Defense Battle</h1>
    <div class="footer-content">
      <ul class="footer-list">
        <li class="footer-item"><a class="footer-link" href="privacy.html">Privacy Policy</a></li>
        <li class="footer-item"><a class="footer-link" href="terms.html">Terms & Conditions</a></li>
        <li class="footer-item"><a class="footer-link" href="cookies.html">Cookies Policy</a></li>
      </ul>
    </div>
    <p class="opshen">All rights reserved fbgemuzebv.xyz | <span class="opshen-span">2025</span></p>
  </div>
</footer>
