
<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <h2 class="title-gallery"><span class="gallery-span">G</span>allery</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="gallery-style">
           <div class="image-container">
    <picture class="image-top">
      <source media="(min-width: 1200px)" srcset="/img/gallery/image01.png 1x, /img/gallery/image01@2x.png 2x" />
      <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob01.png 1x, /img/gallery/mobgallery/imagemob01@2x.png 2x" />
      <img  src="/img/gallery/mobgallery/imagemob01.png" alt="image1">
    </picture>
    <picture class="image-bottom">
      <source media="(min-width: 1200px)" srcset="/img/gallery/image02.png 1x, /img/gallery/image02@2x.png 2x" />
      <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob02.png 1x, /img/gallery/mobgallery/imagemob02@2x.png 2x" />
      <img src="/img/gallery/mobgallery/imagemob02.png" alt="image2">
    </picture>
  </div>
        </div>
        <div class="swiper-slide" id="gallery-style">
          <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image03.png 1x, /img/gallery/image03@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob03.png 1x, /img/gallery/mobgallery/imagemob03@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob03.png" alt="image3">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image04.png 1x, /img/gallery/image04@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob04.png 1x, /img/gallery/mobgallery/imagemob04@2x.png 2x" />
        <img  src="/img/gallery/mobgallery/imagemob04.png" alt="4">
      </picture>
    </div>
        </div>
        <div class="swiper-slide"   id="gallery-style" >
    <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image03.png 1x, /img/gallery/image03@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob03.png 1x, /img/gallery/mobgallery/imagemob03@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob03.png" alt="image3">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image04.png 1x, /img/gallery/image04@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob04.png 1x, /img/gallery/mobgallery/imagemob04@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob04.png" alt="4">
      </picture>
    </div>
  </div>
  <div class="swiper-slide"   id="gallery-style" >
    <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image05.png 1x, /img/gallery/image05@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob05.png 1x, /img/gallery/mobgallery/imagemob05@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob05.png" alt="image5">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image06.png 1x, /img/gallery/image06@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob06.png 1x, /img/gallery/mobgallery/imagemob06@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob06.png" alt="image6">
      </picture>
    </div>
  </div>
   <div class="swiper-slide"   id="gallery-style" >
    <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)"
srcset="/img/gallery/image07.png 1x, /img/gallery/image07@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob07.png 1x, /img/gallery/mobgallery/imagemob07@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob07.png" alt="image7">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image08.png 1x, /img/gallery/image08@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob08.png 1x, /img/gallery/mobgallery/imagemob08@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob08.png" alt="image8">
      </picture>
    </div>
  </div>
 <div class="swiper-slide"   id="gallery-style" >
    <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image09.png 1x, /img/gallery/image09@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob09.png 1x, /img/gallery/mobgallery/imagemob09@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob09.png" alt="image9">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image10.png 1x, /img/gallery/image10@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob10.png 1x, /img/gallery/mobgallery/imagemob10@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob10.png" alt="10">
      </picture>
    </div>
  </div>
<div class="swiper-slide"   id="gallery-style" >
    <div class="image-container">
      <picture class="image-top">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image11.png 1x, /img/gallery/image11@2x.png 2x" />
        <source media="(min-width: 320px) and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob11.png 1x, /img/gallery/mobgallery/imagemob11@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob11.png" alt="image11">
      </picture>
      <picture class="image-bottom">
        <source media="(min-width: 1200px)" srcset="/img/gallery/image12.png 1x, /img/gallery/image12@2x.png 2x" />
        <source media="(min-width: 320px)  and (max-width: 1199px)" srcset="/img/gallery/mobgallery/imagemob12.png 1x, /img/gallery/mobgallery/imagemob12@2x.png 2x" />
        <img src="/img/gallery/mobgallery/imagemob12.png" alt="image12">
      </picture>
    </div>
  </div>
      </div>
      <!-- НАВІГАЦІЯ ОДИН РАЗ -->
      <div class="navigation-container" >
        <button class="left-btn" title="Previous Slide">
          <svg id="icon-swiper-left" width="30" height="35">
            <use href="/img/sprite.svg#icon-swiper-left"></use>
          </svg>
        </button>
        <button class="right-btn" title="Next Slide">
          <svg id="icon-swiper-right" width="30" height="35">
            <use href="/img/sprite.svg#icon-swiper-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>