<section class=" section game-description-section">
    <div class="container game-desk-container">
    <h1 class="game-desk-title" id="game-description"><span class="game-desk-span">G</span> ame Description</h1>
    <p class="game-desk-subtitle">Welcome to Heroes of Tower Defense Battle, where only your strategy can stop the enemy onslaught! Choose your towers, place them strategically, and summon legendary heroes to defend your land from menacing foes. With every battle, you'll earn resources to level up your defense, unlock new abilities, and expand your territory.</p>
    <ul class="game-desk-advantages">
        <!-- <div class="game-desk-item-wrapper"> -->
        <li class="game-desk-item">
            <h3 class="game-desk-heading">
            Idle Tower Defense Mechanics:
            </h3>
            <p class="game-desk-subheading
            ">Fight enemies even when you're away—collect rewards and keep progressing.</p>
        </li>
<!-- </div> -->

        <li class="game-desk-item">
            <h3 class="game-desk-heading"> Powerful Hero Units:</h3>
            <p class="game-desk-subheading
            "> Unlock and upgrade legendary heroes, each with unique skills and powers.</p>
        </li>


        <li class="game-desk-item">
            <h3 class="game-desk-heading"> Strategic Tower Building:</h3>
            <p class="game-desk-subheading
            "> Choose from multiple tower types—archer, magic, cannon—and upgrade their stats. </p>
        </li>


        <li class="game-desk-item">
            <h3 class="game-desk-heading">
            Wave After Wave of Enemies:
        </h3>
    <p class="game-desk-subheading">Face off against unique monster types with different abilities and weaknesses.</p>

</li>
        <li class="game-desk-item">
            <h3  class="game-desk-heading" >
            Expansive World Map:
        </h3>
    <p class="game-desk-subheading">Unlock new regions and expand your defense frontier across magical lands.</p></li>

        <li class="game-desk-item">
            <h3 class="game-desk-heading" > Boss Battles & Events:</h3>
            <p class="game-desk-subheading">Test your strength in epic boss fights and limited-time events.</p>
        </li>
    </ul>
    </div>
</section>
