<header class="section header-section">
    <div class="container header-container">

        <svg class="header-burger-icon" width="24" height="24" style="color: white;" data-open-btn>
    <use href="/img/sprite.svg#icon-burger"></use> 
  </svg>
        <img src="/public/Favicon.svg" alt="favicon-icon" class="header-icon" />
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                  <a href="#game-description">Game Description</a>
                  
                </li>
                <li class="nav-item">
                  <a href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="#reviews">Reviews</a>
                </li>
                <li class="nav-item">
                  <a href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a href="#hero-upgrade-tree">Hero Upgrade Tree</a>

                </li>
            </ul>
        </nav>
        
        <a class="header-button" href="https://play.google.com/store/apps/details?id=heroes.tower.defence&hl=en&gl=us" target="_blank">Play now</a>

  
        
    </div>
</header>
<!-- Модальне вікно!  -->
<div class="header-modal" data-first-visit="true" data-modal-window="true">
  <div class="header-modal-content">
    <h2 class="header-modal-title">Cookies Policy</h2>
    <p class="header-modal-subtitle">We use cookies to improve your experience on our website. By browsing this website, you agree to our use of cookies.</p>
    <div class="header-modal-button-container">
      <button class="header-modal-button" data-accept-cookies="true">Accept Cookies</button>
    <button class="header-modal-button modal-decline-button" data-decline-cookies="true">Decline Cookies</button>

    </div>
    
  </div>
</div>




<!-- Мобільне меню -->
<div data-mobile-menu class="mobile-menu ">
  <div class=" mobile-menu-inner ">
    <div class="container header-container header-container-mob">
      
        <svg data-close-btn class="header-close-icon" width="20" height="20">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
        
     

      <img src="/public/Favicon.svg" alt="favicon-icon" class="header-icon" />
      
        <a class="header-button" href="https://play.google.com/store/apps/details?id=heroes.tower.defence&hl=en&gl=us" target="_blank">Play now</a>
      
    </div>

    <div class=" container  header-container-mob nav-container-mob">
      <nav class="header-nav ">
        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a href="#game-description" data-close-on-click>Game Description</a>
          </li>
          <li class="mob-nav-item">
            <a href="#faq" data-close-on-click>FAQ</a>
            </li>
          <li class="mob-nav-item">
            <a href="#reviews" data-close-on-click>Reviews</a>
            </li>
          <li class="mob-nav-item">
            <a href="#gallery" data-close-on-click>Gallery</a>
            </li>
          <li class="mob-nav-item">
            <a href="#hero-upgrade-tree" data-close-on-click>Hero Upgrade Tree</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>



 