<header class="section header-section">
    <div class="container header-container">

        <svg class="header-burger-icon" width="24" height="24" style="color: white;" data-open-btn>
    <use href="../img/symbol-defs.svg#icon-burger"></use> 
  </svg>
        <img src="../public/Favicon.svg" class="header-icon" />
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">
                  <a href="#hero-upgrade-tree">Game Description</a>
                  
                </li>
                <li class="nav-item">
                  <a href="#faq">FAQ</a>
                </li>
                <li class="nav-item">
                  <a href="#reviews">Reviews</a>
                </li>
                <li class="nav-item">
                  <a href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a href="#hero-upgrade-tree">Hero Upgrade Tree</a>

                </li>
            </ul>
        </nav>
        
          <button class="header-button"  id="burgerBtn">
        <a href="https://play.google.com/store/apps/details?id=heroes.tower.defence&hl=en&gl=us">Play now</a>

        </button>
  
        
    </div>
</header>



<!-- Мобільне меню -->
<div data-mobile-menu class="mobile-menu ">
  <div class=" section mobile-menu-inner ">
    <div class="container header-container header-container-mob">
      
        <svg data-close-btn class="header-close-icon" width="20" height="20">
          <use href="../img/symbol-defs.svg#icon-close"></use>
        </svg>
        
     

      <img src="../public/Favicon.svg" class="header-icon" />
      <button class="header-button">
        <a href="https://play.google.com/store/apps/details?id=heroes.tower.defence&hl=en&gl=us">Play now</a>
      </button>
    </div>

    <div class=" container  header-container-mob nav-container-mob">
      <nav class="header-nav ">
        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a href="#game-description">Game Description</a>
          </li>
          <li class="mob-nav-item">
            <a href="#faq">FAQ</a>
            </li>
          <li class="mob-nav-item">
            <a href="#reviews">Reviews</a>
            </li>
          <li class="mob-nav-item">
            <a href="#gallery">Gallery</a>
            </li>
          <li class="mob-nav-item">
            <a href="#hero-upgrade-tree">Hero Upgrade Tree</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<section class="section hero-section">
  <div class="container hero-container">

    <!-- <div class="hero-main-picture-container">
    <img class="hero-main-picture" src="../img/hero/hero-1x-mob.png" />

    </div> -->
    <div class="hero-content-container">
        <h1 class="hero-title">Heroes of <span class="hero-title-span">T</span>ower Defence Battle</h1>
   <p class="hero-subtitle">Strategize, Upgrade & Defend Your Base from Endless Waves!</p>
   <button class="hero-button">Play know</button>
    </div>
  
  </div>
</section>
