<header class="section header-section">
    <div class="container header-container">

        <svg class="header-burger-icon" width="24" height="24" style="color: white;">
    <use href="../img/symbol-defs.svg#icon-burger"></use> 
  </svg>
        <img src="../public/Favicon.svg" class="header-icon" />
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item">Game Description</li>
                <li class="nav-item">FAQ</li>
                <li class="nav-item">Reviews</li>
                <li class="nav-item">Gallery</li>
                <li class="nav-item">Hero Upgrade Tree</li>
            </ul>
        </nav>

        <button class="header-button" id="burgerBtn">Play now</button>
    </div>
</header>



<!-- Мобільне меню -->
<div data-mobile-menu class="mobile-menu">
  <div class=" section mobile-menu-inner">
    <div class="container header-container">
      <button data-close-btn class="header-burger-icon">
        <svg width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>

      <img src="../public/Favicon.svg" class="header-icon" />
      <button class="header-button">Play now</button>
    </div>

    <div class="container nav-container">
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">Game Description</li>
          <li class="nav-item">FAQ</li>
          <li class="nav-item">Reviews</li>
          <li class="nav-item">Gallery</li>
          <li class="nav-item">Hero Upgrade Tree</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

