<section class="section upgrade-section">
    <div class="container upgrade-container">
<h2 class="upgrade-title" id="hero-upgrade-title"><span class="hero-upgrade-span">H</span>ero Upgrade Tree</h2>
<p class="upgrade-subtitle">Unlock Deep Customization with Hero Upgrade Trees!<br>Each hero comes with a unique skill tree that allows players to tailor their abilities to suit different playstyles. Choose between increasing damage, improving crowd control, or unlocking special attacks. Every upgrade feels impactful and strategic!</p>
<div class="video-container">
<video class="video-one" width="320" height="192"  controls autoplay muted loop>
    <source src="../img/heroUpdateTree/video-one.mp4" type="video/mp4">
</video>
<video class="video-two" width="220" height="110" controls autoplay muted loop>
    <source src="../img/heroUpdateTree/video-two.mp4" type="video/mp4">
</video>
<video class="video-three" width="220" height="110" controls autoplay muted loop>
    <source src="../img/heroUpdateTree/video-three.mp4" type="video/mp4">
</video>
</div>
</div>
</section>
