<section class="section hero-section">
  <div class="container hero-container">

    

    <div class=" hero-content-container">
      
        <h1 class="hero-title">Heroes of <span class="hero-title-span">T</span>ower Defence Battle</h1>
   <p class="hero-subtitle">Strategize, Upgrade & Defend Your Base from Endless Waves!</p>
  
        <a class="hero-button" href="https://play.google.com/store/apps/details?id=heroes.tower.defence&hl=en&gl=us" target="_blank" data-hero-button="true">Play now</a>

  
    </div>
  
    
  </div>
</section>