<section class="hero-upgradetree">
    <div class="container hero-upgradetree-container">
        <h1 class="hero-upgradetree-title"><span class="hero-span" >H</span>ero Upgrade Tree</h1>
        <p>Unlock Deep Customization with Hero Upgrade Trees!
Each hero comes with a unique skill tree that allows players to tailor their abilities to suit different playstyles. Choose between increasing damage, improving crowd control, or unlocking special attacks. Every upgrade feels impactful and strategic!</p>
    </div>
</section>