<section id="user-feedback" class="swiper-testimonials">
  <div class="container swiper-container">
    <h2><span class="reviews-span">R</span>eviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo-1.png"
              alt="Фото користувача"
              width="130"
              height="130"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo-2.png"
              alt="Фото користувача"
              width="130"
              height="130"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo-3.png"
              alt="Фото користувача"
              width="130"
              height="130"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★<span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-arrows">
      <button class="reviews-arrows-prev">
        <svg class="reviews-arrows-icon" width="30" height="35">
          <use href="/img/sprite.svg#icon-swiper-left"></use>
        </svg>
      </button>
      <button class="reviews-arrows-next">
        <svg class="reviews-arrows-icon" width="30" height="35">
          <use href="/img/sprite.svg#icon-swiper-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
