.footer {
  min-width: 320px;
  max-width: 375px;
  height: 413px;
  background: url('../img/Footer@1x.png'),
    url('../img/place\ for\ tower@1x.png'),
    url('../img/spare parts for the machine01.png'),
    url('../img/spare parts for the machine02.png'),
    url('../img/spare parts for the machine03.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: cover, 40px 16px, 24px 28px, 24px 29px, 24px 29px;
  background-position: top 0px left 0px, top 154px left 9px,
    top 150px right 36px, top 180px right 36px, top 210px right 36px;
}
@media (min-resolution: 2dppx) {
  .footer {
    background: url('../img/Footer@2x.png'),
      url('../img/place for tower 2x.png'),
      url('../img/spare parts for the machine01@2x.png'),
      url('../img/spare parts for the machine02@2x.png'),
      url('../img/spare parts for the machine03@2x.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: cover, 40px 16px, 24px 28px, 24px 29px, 24px 29px;
    background-position: top 0px left 0px, top 104px left 9px,
      top 201px right 24px, top 180px right 36px, top 210px right 36px;
  }
}
.footer-title {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  color: #002434;
  margin-top: 98px;
  margin-bottom: 24px;
}
.footer-span {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  color: #002434;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  width: 320px;
  height: 204px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.opshen {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
@media only screen and (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    background: url('../img/Footer@1x.png'),
      url('../img/place for tower@1x.png'),
      url('../img/spare parts for the machine01.png'),
      url('../img/spare parts for the machine02.png'),
      url('../img/spare parts for the machine03.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain, contain, contain;
  }
}
