.header-section {
    position: fixed;
}
.header-container {
    display: flex;
    align-items: center;
    
.nav-list {
    display: none;
}
    
}
.header-button {
color: #FFFFFF;
    width: 140px;
    background-color: #376deb;
    font-size: 16px;
    border: none;
    padding: 9px 34px;
    
    
}
.header-icon {
    width: 24px;
    height: 24px;
    margin-right: 64px;
    
}
.header-burger-icon {
    fill: white;
    margin-right: 16px;
    
}






