@import './base';
@import './header';
@import './hero';
@import './gameDescription';
@import './FAQ';
@import './reviews';
@import './gallery';
@import './heroUpdateTree';
@import './footer';
@import './policy';
@import './terms';
@import './cookies';



:root {
  font-family: "Poppins";
  background-color: #002434;
  font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
