@import './header.scss';
@import url('./hero.scss');
@import url('./gameDescription.scss');
@import url('./FAQ.scss');
@import url('./reviews.scss');
@import url('./gallery.scss');
@import url('./heroUpdateTree.scss');
@import url('./footer.scss');
@import url('./policy.scss');
@import url('./terms.scss');
@import url('./cookies.scss');



:root {
  font-family: "Poppins";
  background-color: #002434;
  font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
